.img-container {
    width: fit-content;
    padding: 10px;
    background: white;
    box-shadow: rgb(119, 119, 119) 0px 0px 15px;
    margin-bottom: 16px;
    transition: 0.5s all;
}

.img-container img {
    display: block;
    margin: 0 auto;
}
