<div class="img-container" (click)="toggleDescription()">
    <img [src]="getSrc()" [alt]="image?.title" class="img-content" />
    <div class="image-title">{{ image?.title }}</div>
    <div class="meta" *ngIf="showMore === true">
        <ul>
            <li *ngIf="image?.description._content.length > 0; else nodesc">
                Description:
                <span [innerHTML]="image?.description._content"></span>
            </li>
            <ng-template #nodesc><li>No description</li></ng-template>
            <li>Upload date: {{ toLocalDate(image?.dateupload) }}</li>
            <li class="desc-item">Views: {{ image?.views }}</li>
            <li class="desc-item">Owner: {{ image?.ownername }}</li>
            <li class="desc-item">longitude: {{ image?.longitude }}</li>
            <li class="desc-item">latitude: {{ image?.latitude }}</li>
            <li *ngIf="image?.comments?.comment?.length > 0">
                Comments:

                <ol style="list-style-type: lower-alpha; padding-bottom: 0">
                    <li
                        *ngFor="let comment of image?.comments?.comment"
                        class="comment"
                        style="margin-left: 1em"
                        [innerHTML]="comment._content"
                    ></li>
                </ol>
            </li>
        </ul>
    </div>
</div>
