<div class="list">
    <p-dataView
        #dv
        [value]="images"
        [paginator]="true"
        [rows]="9"
        filterBy="name"
        layout="grid"
        styleClass="dataview"
    >
        <ng-template pTemplate="header">
            <h3>Flickr Results</h3>
        </ng-template>
        <ng-template class="img-grid" let-image pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="image-grid-item card">
                    <div class="image-grid-item-content">
                        <app-image [image]="image" [size]="size"></app-image>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
