<div class="slider">
    <p-carousel
        [value]="images"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="true"
    >
        <ng-template pTemplate="header">
            <h3>Flickr Results</h3>
        </ng-template>
        <ng-template let-image pTemplate="item">
            <div class="photo-item">
                <div class="photo-item-content">
                    <div class="p-mb-3">
                        <app-image
                            [image]="image"
                            [size]="size"
                            class="product-image"
                        >
                        </app-image>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
