<div class="slider">
    <p-carousel
        [value]="images"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="true"
    >
        <ng-template pTemplate="header">
            <h5>Basic</h5>
        </ng-template>
        <ng-template let-image pTemplate="item">
            <div class="photo-item">
                <div class="photo-item-content">
                    <div class="p-mb-3">
                        <img
                            [src]="buildImgSrc(image)"
                            [alt]="image.id"
                            class="product-image"
                        />
                    </div>
                    <h4 class="p-mb-1">{{ image.title }}</h4>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
