<p-carousel
    class="slider"
    [numVisible]="3"
    [numScroll]="3"
    styleClass="viewport-carosel"
    verticalViewPortHeight="352px"
    [value]="images"
>
    <ng-template let-image pTemplate="item">
        <div class="img-container">
            <img [src]="buildImgSrc(image)" />
        </div>
    </ng-template>
    <!--
    <div *ngIf="!images.length">
        <div class="img-container">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/2/21/Solid_black.svg"
            />
        </div>
    </div> 
  -->
</p-carousel>
