.sweep {
    display: flex;
    position: relative;
    height: 700px;
    width: 100%;
    overflow: hidden;
}

.arrow-btn {
    position: absolute;
    top: 0;
    bottom: 0;
}

.btn-left {
    left: 0;
}

.btn-right {
    right: 0;
}

.btn-container {
    display: flex;
    height: 100%;
    position: absolute;
}

.btn-container > .arrow-btn {
    margin: auto;
}

.slider-element {
    position: absolute;
    width: 500px;
    height: fit-content;
    transition: 0.5s all;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.slider-element > div {
    height: 500px;
    width: 100%;
}

.not-transition {
    transition: none;
}

.arrow-btn {
    margin: auto 0;
}

.first {
    transform: scale(0.8);
    opacity: 0.3;
    left: 0;
    pointer-events: none;
}

.last {
    transform: scale(0.8);
    opacity: 0.3;
    right: 0;
    pointer-events: none;
}

.highlight {
    left: calc(50% - 250px);
}

.hidden-left {
    position: absolute;
    left: -450px;
    transform: scale(0.5);
    opacity: 0;
}

.hidden-right {
    position: absolute;
    right: -450px;
    transform: scale(0.5);
    opacity: 0;
}

.highlight.move-right {
    transform: scale(0.8);
    left: calc(100% - 500px);
    opacity: 0.3;
}

.first.move-right {
    opacity: 1;
    transform: scale(1);
    left: calc(50% - 250px);
}

.last.move-right {
    opacity: 0;
    transform: scale(0.5);
    right: -450px;
}

.hidden-right.move-left {
    transform: scale(0.8);
    right: 0;
    opacity: 0.3;
}

.highlight.move-left {
    transform: scale(0.8);
    left: 0;
    opacity: 0.3;
}

.last.move-left {
    opacity: 1;
    transform: scale(1);
    right: calc(50% - 250px);
}

.first.move-left {
    opacity: 0;
    transform: scale(0.5);
    left: -450px;
}

.hidden-left.move-right {
    transform: scale(0.8);
    left: 0;
    opacity: 0.3;
}

.img-container img {
    width: 100%;
}

.not-transition {
    transition: none;
}
