<div class="sweep" *ngIf="images.length">
    <button
        pButton
        pRipple
        type="button"
        class="p-button-rounded arrow-btn"
        icon="pi pi-arrow-left"
        (click)="moveLeft = true"
        *ngIf="current > 0"
    ></button>

    <div
        *ngIf="current > 2"
        class="img-container hidden-left"
        [class]="moveLeft ? 'move-left' : moveRight ? 'move-right' : ''"
    >
        <img [src]="getSrc(current - 2)" />
    </div>
    <div
        *ngIf="current > 1"
        class="img-container first"
        [class]="moveLeft ? 'move-left' : moveRight ? 'move-right' : ''"
    >
        <img [src]="getSrc(current - 1)" />
    </div>
    <div
        class="img-container highlight"
        [class]="moveLeft ? 'move-left' : moveRight ? 'move-right' : ''"
    >
        <img [src]="getSrc(current)" />
    </div>
    <div
        *ngIf="current < images.length - 1"
        class="img-container last"
        [class]="moveLeft ? 'move-left' : moveRight ? 'move-right' : ''"
    >
        <img [src]="getSrc(current + 1)" />
    </div>
    <div
        *ngIf="current < images.length - 2"
        class="img-container hidden-right"
        [class]="moveLeft ? 'move-left' : moveRight ? 'move-right' : ''"
    >
        <img [src]="getSrc(current + 2)" />
    </div>
    <button
        pButton
        pRipple
        type="button"
        class="p-button-rounded arrow-btn"
        icon="pi pi-arrow-right"
        (click)="moveRight = true"
        *ngIf="current < images.length"
    ></button>
</div>
<!--
<div class="sweep">
    <div class="img-container"><img /></div>
    <div class="img-container"><img /></div>
</div>
<div class="sweep">
    <div class="img-container"><img /></div>
    <div class="img-container"><img /></div>
</div>
-->
