.sweep {
    position: relative;
}

.img-container {

    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    padding: 10px;
    background: white;
    padding-bottom: 7%;
    box-shadow: rgb(119, 119, 119) 0px 0px 15px;
    transform: translateX(85px) translateY(130px);
    animation: 0.4s animeBack forwards;
}

.img-container:last-of-type {
    z-index: -1;
    transform: rotate(-30deg);
    animation: 0.4s animeRotate forwards;
}

.img-container img {
    width: 100%;
}

@keyframes animeBack {
    0% {
        z-index: 1;
        transform: rotate(0) translateX(85px) translateY(130px);
    }
    30% {
        transform: rotate(0) translateX(300px) translateY(130px);
    }
    100% {
        z-index: -1;
        transform: rotate(-30deg);
    }
}

@keyframes animeRotate {
    0% {
        z-index: -1;
        transform: rotate(-30deg);
    }
    30% {
        transform: rotate(-30deg) translateX(-50px);
    }
    100% {
        transform: rotate(0) translateX(85px) translateY(130px);
        z-index: 1;
    }
}