.sweep {
    position: relative;
}

.img-container {
    width: 500px;
    padding: 10px;
    background: white;
    padding-bottom: 7%;
    box-shadow: rgb(119, 119, 119) 0px 0px 15px;
    transform: translateX(85px) translateY(130px);
}

.img-container:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(-30deg);
}

.img-container img {
    width: 100%;
}