<form
    [formGroup]="searchForm"
    (ngSubmit)="onSubmit(searchForm.value)"
    class="p-fluid p-grid p-formgrid"
    ngNativeValidate
    class="form"
>
    <span class="p-input-icon-left p-col-12 p-lg-2" style="margin-bottom: 10px">
        <i class="pi pi-search"></i>
        <input
            placeholder="Search..."
            type="text"
            minlength="2"
            required
            name="tags"
            id="tags"
            class="tags"
            placeholder="Search.."
            formControlName="tags"
            pInputText
        />
        <div class="sub" *ngIf="tags.hasError('whitespace')">
            Inputs must be comma seperated, no spaces allowed
        </div>
    </span>
    <p-dropdown
        [options]="sizes"
        [(ngModel)]="selectedSize"
        formControlName="size"
        placeholder="Choose your prefered size"
        optionLabel="label"
        [showClear]="true"
    ></p-dropdown>
    <div class="p-field p-col-12 p-lg-1">
        <p-calendar
            formControlName="min_date"
            placeholder="Minimum upload date"
            [showIcon]="true"
        ></p-calendar>
    </div>
    <div class="p-field p-col-12 p-lg-1">
        <p-calendar
            formControlName="min_date"
            placeholder="Maximum upload date"
            [showIcon]="true"
        ></p-calendar>
    </div>
    <span class="span-group">
        <p-chips
            type="text"
            id="added_tags"
            name="added_tags"
            placeholder="Added tags"
            formControlName="added_tags"
            (onFocus)="onFocus()"
            (onBlur)="onBlur()"
        ></p-chips>
        <div class="sub" *ngIf="added_tags_focused == true">
            Type on Enter to add a tag
        </div>
    </span>

    <span class="span-group galgroup">
        <label for="in_gal" class="label">Must be in gallery</label>
        <p-inputSwitch
            name="in_gal"
            id="in_gal"
            formControlName="is_in_gallery"
        ></p-inputSwitch>
    </span>

    <div class="p-col-12 p-lg-5"></div>

    <p-button
        class="p-col-12 p-lg-2"
        type="submit"
        label="Search photos"
    ></p-button>
</form>
