<form
    [formGroup]="searchForm"
    (ngSubmit)="onSubmit(searchForm.value)"
    class="p-grid p-formgrid p-justify-between"
    ngNativeValidate
    class="form"
    role="search"
>
    <p-chips
        id="tags"
        name="tags"
        class="tags p-field p-col-2"
        placeholder="Search..."
        type="text"
        placeholder="Search.."
        formControlName="tags"
        [allowDuplicate]="false"
        [addOnBlur]="true"
        [addOnTab]="true"
        [max]="1"
    ></p-chips>

    <p-dropdown
        [options]="sizes"
        [(ngModel)]="selectedSize"
        formControlName="size"
        placeholder="Choose your prefered size"
        optionLabel="label"
        [showClear]="true"
        class="p-field p-col-2"
    ></p-dropdown>

    <div class="p-field p-col-2">
        <p-calendar
            formControlName="min_date"
            placeholder="Minimum upload date"
            [showIcon]="true"
        ></p-calendar>
    </div>

    <div class="p-field p-col-2">
        <p-calendar
            formControlName="min_date"
            placeholder="Maximum upload date"
            [showIcon]="true"
        ></p-calendar>
    </div>

    <div class="added p-field p-col-2">
        <p-chips
            type="text"
            id="added_tags"
            name="added_tags"
            placeholder="Added tags"
            formControlName="added_tags"
            [allowDuplicate]="false"
            (onFocus)="onFocus()"
            (onBlur)="onBlur()"
        ></p-chips>
        <span class="sub" *ngIf="added_tags_focused === true">
            Type on Enter to add a tag
        </span>
    </div>

    <div class="in_gal">
        <label for="in_gal" class="label">Must be in gallery</label>
        <p-inputSwitch
            name="in_gal"
            id="in_gal"
            formControlName="is_in_gallery"
        ></p-inputSwitch>
    </div>

    <p-button
        class="p-field search-submit"
        type="submit"
        label="Search photos"
    ></p-button>
</form>
