<form
    [formGroup]="searchForm"
    (ngSubmit)="onSubmit(searchForm.value)"
    ngNativeValidate
    class="form"
>
    <input
        type="text"
        minlength="2"
        required
        name="tags"
        id="tags"
        class="tags"
        placeholder="Search.."
        formControlName="tags"
        pInputText
    />
    <p-dropdown
        [options]="sizes"
        [(ngModel)]="selectedSize"
        formControlName="size"
        placeholder="Choose your prefered size"
        optionLabel="label"
        [showClear]="true"
    ></p-dropdown>
    <p-calendar
        formControlName="min_date"
        placeholder="Minimum upload date"
    ></p-calendar>
    <p-calendar
        formControlName="min_date"
        placeholder="Maximum upload date"
    ></p-calendar>
    <span class="span-group">
        <p-chips
            type="text"
            id="added_tags"
            name="added_tags"
            placeholder="Added tags"
            formControlName="added_tags"
            (onFocus)="onFocus()"
            (onBlur)="onBlur()"
        ></p-chips>
    </span>

    <div *ngIf="added_tags_focused == true">Type on enter to add a tag</div>
    <div *ngIf="tags.hasError('whitespace')" class="tags_err">
        Inputs must be comma seperated, no spaces allowed
    </div>
    <span class="span-group">
        <label for="in_gal">Must be in gallery</label>
        <p-inputSwitch
            name="in_gal"
            id="in_gal"
            formControlName="is_in_gallery"
        ></p-inputSwitch>
    </span>
    <p-button label="Search photos" type="submit"></p-button>
</form>
