.form {
    display: flex;
    justify-content: space-evenly;
}

.span-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tags {
    max-height: 36px;
}

.sub {
    margin-top: 8px;
}

.galgroup {
    margin-top: -16px;
}

.galgroup > .label {
    margin-bottom: 8px;
}
